body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
#headBox {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: rgba(243,191,151,1);
    height: 50px;
    border: 0px;
    padding: 10px;
}
#coverBox {
    box-shadow: none;
    border: 0;
}
#coverBox > img {
    object-fit: cover;
}
#block0 {
    float: right;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
}
#block1 {
    width: 33%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#block2 {
    float: left;
    width: 50px;
    height: 50px;
}
#block2 > img {
    object-fit: cover;
    width: 100%;
}
h1 {
    color: rgba(126,59,62,1);
    font-size: 40px;
    font-family: ITCEDSCR;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}
